@(title:String, current:String = "index")(body: => Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Zencontact, by zenexity  ★ @title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@asset("public/stylesheets/style.css")" />
        <link rel="stylesheet" type="text/css" media="screen" href="@asset("public/stylesheets/south-street/jquery-ui-1.7.2.custom.css")" />
        <script src="@asset("public/javascripts/jquery-1.4.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@asset("public/javascripts/jquery-ui-1.7.2.custom.min.js")" type="text/javascript" charset="utf-8"></script>
        <script src="@asset("public/javascripts/jquery.editinplace.packed.js")" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="zencontact">
            <header>
                <img src="@asset("public/images/logo.png")" alt="logo" id="logo" />
                <h1>Zencontact <span>by zenexity</span></h1>
            </header>
            <nav>
                <a id="home" href="@action(controllers.Application.index)" class="@(if(current == "index") "selected")">Home</a>
                <a id="list" href="@action(controllers.Application.list)" class="@(if(current == "list") "selected")">List</a>
                <a id="new" href="@action(controllers.Application.edit(None))" class="@(if(current == "form") "selected")">New</a>
            </nav>
            <section>
                @body
            </section>
            <footer>
                <a href="http://www.w3.org/TR/html5/">html5</a> - 
                <a href="http://www.w3.org/TR/css3-roadmap/">css3</a> - 
                <a href="http://www.playframework.org/">playframework</a> 
            </footer>
        </div>
    </body>
</html>