lib/play-scala.jar
lib/play-scala-compiler.jar
.DS_Store
test-result
tmp
logs
eclipse
.#*
*~
*.~*
dist
*.pyc
documentation/api
samples-and-tests/i-am-a-developer/i-am-working-here
.scala_dependencies
h2
