@(title:String = "")(body: => Html)

<!DOCTYPE html >
<html>
    <head>
        <title>@title</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@asset("public/images/favicon.png")">
        <script src="@asset("public/javascripts/jquery-1.5.2.min.js")" type="text/javascript"></script>
        <script src="@asset("public/javascripts/jquery.tools.min.js")" type="text/javascript"></script>
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                yabe.
            </div>
            <ul id="tools">
                <li>
                    <a href="#">Log in to write something</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1>
                    <a href="@action(controllers.Application.index)">
                        @play.Play.configuration.get("blog.title")
                    </a>
                </h1>
                <h2>@play.Play.configuration.get("blog.baseline")</h2>
            </div>
        </div>
        
        <div id="main">
            @body
        </div>
        
        <p id="footer">
            Yabe is a (not that) powerful blog engine built with the 
            <a href="http://www.playframework.org">Play framework</a>
            as a tutorial application.
        </p>
        
    </body>
</html>
